SPOTIFY_CLIENT_ID=b7f5de8286b649dca80541e9098aafa1
SPOTIFY_CLIENT_SECRET=039ba3f9278a4b6fa0b350464de1e2bd
SPOTIFY_REDIRECT_URI=http://localhost:3000/api/auth/spotify/callback
JWT_SECRET=YVWwIekPt1AMgswfjFF0mUV6BepjEIetkbc0LJawpTf
NODE_ENV=development
PORT=3000
